/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	overflow: hidden;
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*FUENTES*/

@font-face {
  font-family: 'GothamBlack';
  src: url('fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),  url('fonts/GothamBlack.woff') format('woff'), url('fonts/GothamBlack.ttf')  format('truetype'), url('fonts/GothamBlack.svg#GothamBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-Bold';
  src: url('fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/GothamRounded-Bold.otf')  format('opentype'),
	     url('fonts/GothamRounded-Bold.woff') format('woff'), url('fonts/GothamRounded-Bold.ttf')  format('truetype'), url('fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



.header-wrap{
	text-align: center;
	background: url("assets/bg-header.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}
.header-wrap img{
	height: 100px;
	display: inline-block;
	margin: 25px 0 15px 0;
}
nav{
	display: block;
	background-color: #33ADFF;
}
nav ul{
	text-align: center;
}
nav ul li{
	display: inline-block;
	padding: 15px 30px;
	font-family: 'GothamRounded-Bold', sans-serif;
	color: #FFFFFF;
	font-size: .9em;
}

.slider{
	background: url("assets/bg-inicio.png");
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.slider img{
	float: right;
	height: 480px;
	margin-right: 80px;
}
.descripcion{
	font-family: sans-serif;
	font-size: 0.8em;
	position: absolute;
	bottom:300px;
	left: 40px;

}
.selectores{
	position: absolute;
	bottom: 250px;
	left: 40px;
}

.circle:hover{
	background-color: #000000;
	

}
.circle{
	border-radius: 50%;
	height: 5px;
	width: 5px;
	background-color: #FFFFFF;
	display: inline-block;
	border: 1px solid black;
	margin: 0 5px; 
}
.selected{
	border-radius: 50%;
	height: 5px;
	width: 5px;
	background-color: #000000;
	display: inline-block;
	border: 1px solid black;
	margin: 0 5px; 
}
.botones img{
	height: 24px;
	display: inline-block;
	margin: 0 8px;
	
	}
.botones span{
	font-family: 'GothamRounded-Bold', sans-serif;
	height: 24px;
	float: left;
	margin: 0 8px;
	line-height: 24px;
	display: inline-block;
}
.botones{
	position: absolute;
	top: 10px;
	right: 50px;

}

/*NOSOTROS*/

.contenido-nosotros{
	margin-top:30px;
	text-align: center;
}
.contenido-nosotros img{
	display: block;
	margin: 0 auto;
	width: 650px;


}
.contenido-nosotros span{
	width: 650px;
	font-family: 'GothamBlack', sans-serif;
	text-align: justify;
	display: block;
	margin: 0 auto;
	word-wrap: break-word;
	font-size: 0.9em;
	padding: 5px 0 ;
	
}

/*TIENDA*/
.contenido-tienda{
	width: 600px;
	display:block;
	margin: 10px auto;
	text-align: center;
}
.contenido-tienda img{
	width: 150px;
	margin: 5px;
	display: inline-block;
}

/*PRODUCTO*/
.contenido-producto{
	width: 700px;
	display: block;
	margin: 0 auto;
}
.contenido-producto .foto{
	width: 350px;
	padding: 20px;
	box-sizing:border-box;
	float: left;
}
.detalle{
	width: 350px;
	float: left;
	padding: 30px;
	box-sizing:border-box;
}
.detalle h1{
	font-family: 'GothamRounded-Bold', sans-serif;
	font-size: 1.5em;
	margin: 10px 0;
}
.texto{
	font-family: 'GothamBlack',sans-serif;
	font-weight: lighter;
	font-size: 1em;
	margin: 50px 0;
	
	float: left;

}
.precio{
	display: block;
	font-family: 'GothamBlack',sans-serif;

}
.thumbs{
	width: 100%;
	overflow: auto;
	margin: 20px 0;
	text-align: center;
}
.thumbs img{
	width: 80px;
	display: block;
	float: left;
	margin: 2px;
}
.related{
	margin: 5px 15px;
	width: 700px;
	float: left;
	text-align: center;

}
.related img{
	width: 110px;
	margin: 0 8px;
	
	float: left;
}

/*CONSEJOS*/

.contenido-consejos{

	width: 700px;
	display: block;
	margin: 30px auto;
	text-align: center;
}
.contenido-consejos img{
	display: block;

	float: left;
	width: 300px;
	height: 400px;



}
.contenido-consejos span{
	width: 300px;

	font-family: 'GothamBlack', sans-serif;
	text-align: justify;
	display: block;
	float: left;
	word-wrap: break-word;
	font-size: 0.9em;
	padding: 0 10px ;
	
}

/*CONTACTO*/

.contenido-contacto{
	margin-top:30px;
	text-align: center;
}
.contenido-contacto img{
	display: block;
	margin: 0 auto;
	width: 850px;


}
.contenido-contacto span{
	width: 700px;
	font-family: sans-serif;
	text-align: justify;
	display: block;
	margin: 0 auto;
	word-wrap: break-word;
	font-size: 0.9em;
	padding: 5px 0 ;
	
}


