
@font-face {
  font-family: 'GothamBlack';
  src: url('GothamBlack.eot?#iefix') format('embedded-opentype'),  url('GothamBlack.woff') format('woff'), url('GothamBlack.ttf')  format('truetype'), url('GothamBlack.svg#GothamBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
